<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/qr">QR Code</a></li>
            <li><a href="/nodemailer">Nodemailer</a></li>
            <li><a href="/bmi">BMI Calculator</a></li>
            <li><a href="/weather">Weather API</a></li>
            <li><a href="/login">Login form</a></li>
            <li><a href="/crud">CRUD</a></li>
        </ul>
    </nav>
    
    <h1 style="text-align: center;">Welcome to Home Page</h1>
</body>
</html>
